<app-generic-table
  [title]="'Listado de Anexo 7'"
  [columns]="tableColumns"
  [excludedFields]="[
    'fecha_creacion',
    'fecha_actualizacion',
    'cod_usuario',
    'cod_usuario_modificacion',
    'activo'
  ]"
  [selectFields]="['actividad_informada']"
  [selectOptions]="selectOptions"
  [requiredFields]="['id']"
  [readonlyFields]="['id']"
  [allowedActions]="['edit', 'deactivate', 'activate']"
  [data]="(anexo7List$ | async)!"
  [showActions]="true"
  [searchEnabled]="true"
  [showNewRegister]="true"
  [showStatusFilter]="true"
  [entityDTO]="anexo7DTO"
  [hiddenColumns]="[
    'id',
    'fecha_creacion',
    'fecha_actualizacion',
    'cod_usuario',
    'cod_usuario_modificacion'
  ]"
  (new)="onAddAnexo7($event)"
  (edit)="onEditAnexo7($event)"
  (delete)="onDeleteAnexo7($event)"
  (deactivate)="onDeactivateAnexo7($event)"
  (activate)="onActivateAnexo7($event)"
  [showXmlDownload]="true"
  [showExcelDownload]="true"
  (xmlDownload)="descargarArchivoXML()"
  (excelDownload)="descargarArchivoExcel()"
>
</app-generic-table>
