<app-generic-table
  [title]="'Listado de Anexo 3'"
  [columns]="tableColumns"
  [excludedFields]="[
    'fecha_creacion',
    'fecha_actualizacion',
    'cod_usuario',
    'cod_usuario_modificacion',
    'activo'
  ]"
  [selectFields]="['rol_oficial', 'tipo_comunicacion']"
  [requiredFields]="['id']"
  [readonlyFields]="['id']"
  [allowedActions]="['edit', 'deactivate', 'activate']"
  [data]="(anexo3List$ | async)!"
  [showActions]="true"
  [searchEnabled]="true"
  [showNewRegister]="true"
  [showStatusFilter]="true"
  [entityDTO]="anexo3DTO"
  [hiddenColumns]="[
    'id',
    'fecha_creacion',
    'fecha_actualizacion',
    'cod_usuario',
    'cod_usuario_modificacion'
  ]"
  [selectOptions]="selectOptions"
  (new)="onAddAnexo3($event)"
  (edit)="onEditAnexo3($event)"
  (delete)="onDeleteAnexo3($event)"
  (deactivate)="onDeactivateAnexo3($event)"
  (activate)="onActivateAnexo3($event)"
  [showXmlDownload]="true"
  [showExcelDownload]="true"
  (xmlDownload)="descargarArchivoXML()"
  (excelDownload)="descargarArchivoExcel()"
>
</app-generic-table>
