<app-generic-table
  [title]="'Listado de Comercios'"
  [columns]="tableColumns"
  [excludedFields]="['isProcessed', 'creditCard', 'date']"
  [selectFields]="['creditCardId', 'type', 'merchantId']"
  [requiredFields]="['id']"
  [readonlyFields]="['id']"
  [allowedActions]="['edit', 'process', 'deactivate', 'activate']"
  [data]="(merchantsList$ | async)!"
  [showActions]="true"
  [searchEnabled]="true"
  [showNewRegister]="true"
  [showStatusFilter]="true"
  [entityDTO]="merchantsDTO"
  [hiddenColumns]="['id', 'isProcessed', 'creditCard']"
  (new)="onAddMerchant($event)"
>
</app-generic-table>
