<app-generic-table
  [title]="'Listado de Usuarios Inactivos'"
  [columns]="tableColumns"
  [excludedFields]="[
    'cargo',
    'perfil',
    'fec_ultimo_inicio',
    'fecha',
    'codigo_vendedor',
    'mac_maquina'
  ]"
  [readonlyFields]="['id']"
  [selectFields]="['id_cargo', 'id_perfil']"
  [allowedActions]="['activate']"
  [data]="(usuariosInactivosList$ | async)!"
  [showActions]="true"
  [searchEnabled]="true"
  [entityDTO]="usuarioDTO"
  [hiddenColumns]="[
    'id_cargo',
    'id_perfil',
    'fec_ultimo_inicio',
    'codigo_vendedor',
    'mac_maquina',
    'btn_insertar',
    'btn_actualizar',
    'btn_eliminar',
    'btn_desactivar',
    'btn_activar',
    'btn_descarga_xml',
    'btn_descarga_texto_plano',
    'btn_descarga_excel',
    'btn_descarga_excel_plantilla'
  ]"
  (activate)="onActivateUsuario($event)"
>
</app-generic-table>
